<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i>Subscriber List
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-toolbar">
          <div class="row">
            <div class="col-md-6">
              <button class="btn green" [routerLink]="['/subscriber', 'create', '']" id="form-add-btn"><i class="fa fa-plus"></i>Add New</button>
              <button class="btn red" (click)="deleteCheckedItems()" id="form-remove-btn"><i class="fa fa-trash-o"></i>Delete</button>
            </div>
          </div>
          <div style="padding:2px;"></div>
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)" method="POST">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label col-md-4" for="name">Name</label>
                      <div class="col-md-8">
                        <input id="name" type="text" class="form-control" placeholder="Enter Subscriber Name" formControlName="name">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="control-label col-md-4" for="userId">Email Address</label>
                      <div class="col-md-8">
                        <input id="emailAddress" type="text" class="form-control" placeholder="Enter Email Address" formControlName="emailAddress">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn green">Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Pattern dùng để hiện thị thông báo trạng thái của mỗi tác vụ -->
        <!-- <div class="col-md-6" *ngIf="responseMessage!=null">
          <app-response-message [httpStatus]="httpStatus" [task]="task">
          </app-response-message>
        </div> -->
        <table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="subscribers" #mf="mfDataTable">
          <thead>
            <tr>
              <th>
                <div class="checker">
                  <span [class.checked]="checkAllItemFlag">
                    <input id="checkAll" type="checkbox" [(ngModel)]="checkAllItemFlag" (click)="checkAllItem()" />
                  </span>
                </div>
              </th>
              <th>
                <a (click)="orderList('userId')">UserId</a>
              </th>
              <th>
                <a (click)="orderList('name')">Subscriber name</a>
              </th>
              <th>
                <a (click)="orderList('emailAddress')">Email Address</a>
              </th>
              <th><a (click)="orderList('createdBy')">Created By</a></th>
              <th><a (click)="orderList('createdTime')">Created Time</a></th>
              <th><a (click)="orderList('updatedBy')">Update By</a></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX" *ngFor="let item of subscribers|orderSubscriber: key: reverse" [ngClass]="item.checked===true?'info':''">
              <td class="table-checkbox">
                <div class="checker">
                  <span [class.checked]="item.checked">
                    <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                  </span>
                </div>
              </td>
              <td>{{item.userId}}</td>
              <td>{{item.name}}</td>
              <td>{{item.emailAddress}}</td>
              <td>{{item.createdBy}}</td>
              <td>{{item.createdTime | date:'dd-MM-yyyy'}}</td>
              <td>{{item.updatedBy}}</td>
              <td text-align="center">
                <a class="btn btn-icon-only blue" id="business-btn" [routerLink]="['/subscriber', 'detail', item.subscriberId]"><i class="fa fa-info" aria-hidden="true"></i></a>
                <a class="btn btn-icon-only green" id="business-btn" [routerLink]="['/subscriber', 'update', item.subscriberId]"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <a class="btn btn-icon-only red" id="business-btn" (click)="delete(item)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-4">
            {{fromNumber}} - {{toNumber}} in total {{totalElements}} items
          </div>
          <div class="col-md-4 pull-right">
            Page
            <button type="button" title="Go to first page" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(0)"><i class="fa fa-angle-double-left"></i></button>
            <button type="button" title="Previous page" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1" (click)="choosePageNumber(currentPage-1)"><i class="fa fa-angle-left"></i></button>
            <input type="number" min="1" max="{{subscriberInfo?.totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
              #page (keyup.enter)="choosePageNumber(page.value - 1)"> /
            <label style="padding-right: 5px;">{{totalPages}}</label>
            <button type="button" title="Next page" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages" (click)="choosePageNumber(currentPage+1)"><i class="fa fa-angle-right"></i></button>
            <button type="button" title="Go to last page" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages" (click)="choosePageNumber(totalPages-1)"><i class="fa fa-angle-double-right"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>