<div class="row">
  <div class="col-md-12">
    <!-- BEGIN EXAMPLE TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          Administration > Para System
        </div>
      </div>

      <div class="portlet-body">
        <div class="table-toolbar">
          <div class="row">
            <div class="col-md-6">
              <button id="form-add-btn" class="btn green" routerLink="/para-system/create"><i class="fa fa-plus"></i>Add New</button>
              <button *ngIf="getNumberDeleteItems()>0" id="form-remove-btn" class="btn red" (click)="deleteCheckedItems()">Delete</button>
            </div>
          </div>
          <div style="padding:2px;"></div>
          <div class="row">
            <div class="col-md-12">
              <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label col-md-4" for="name">Name </label>
                      <div class="col-md-8">
                        <input id="name" type="text" class="form-control" formControlName="name" placeholder="Enter Name" />
                      </div>
                    </div>
                  </div>
                  <!-- Para System Name end. -->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label col-md-4" for="value">Value </label>
                      <div class="col-md-8">
                        <input id="value" type="text" class="form-control" formControlName="value" placeholder="Enter Value" />
                      </div>
                    </div>
                  </div>
                  <!-- Para System Code end. -->
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="col-md-3 control-label col-md-4" for="status">Status </label>
                      <div class="col-md-8">
                        <select class="form-control" formControlName="status">
                          <option value="0">All</option>
                          <option value="1">Active</option>
                          <option value="2">Deactivate</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn green"><i class="fa fa-search" aria-hidden="true"></i>Search</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div style="overflow-x:auto;">
          <table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="paraSystems" #mf="mfDataTable">
            <thead>
              <tr>
                <th (change)="countNumberDeleteItems()">
                  <div class="checker">
                    <span [class.checked]="checkAllItemFlag">
                    <input id="checkAll" type="checkbox" [(ngModel)]="checkAllItemFlag" (click)="checkAllItem()" />
                  </span>
                  </div>
                </th>
                <th>
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="value">Value</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index" [ngClass]="item.checked===true?'info':''">
                <td class="table-checkbox" (change)="countNumberDeleteItems()">
                  <div class="checker">
                    <span [class.checked]="item.checked">
                    <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
                  </span>
                  </div>
                </td>
                <td class="detail-hover"><a [routerLink]="['/para-system', item.id, 'detail']">{{item.name}}</a></td>
                <td>{{item.value}}</td>
                <td>{{item.status==1?'Active':'Deactivate'}}</td>
                <td text-align="center">
                  <a class="btn btn-icon-only blue" id="business-btn" [routerLink]="['/para-system', item.id, 'detail']"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                  <a class="btn btn-icon-only green" id="business-btn" [routerLink]="['/para-system', item.id, 'update']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                  <a class="btn btn-icon-only red" id="business-btn" (click)="delete(item)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-4">
            {{fromNumber}} - {{toNumber}} in total {{paraSystemInfo?.totalElements}} items
          </div>
          <div class="col-md-4 pull-right">
            Page
            <button type="button" title="Go to first page" class="btn btn-sm default prev" [disabled]="(currentPageView)<=1" (click)="choosePageNumber(0)"><i class="fa fa-angle-double-left"></i></button>
            <button type="button" title="Previous page" class="btn btn-sm default prev" [disabled]="(currentPageView)<=1" (click)="choosePageNumber(paraSystemInfo?.number - 1)"><i class="fa fa-angle-left"></i></button>
            <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
              #page (keyup.enter)="choosePageNumber(page.value - 1)"> /
            <label style="padding-right: 5px;">{{paraSystemInfo?.totalPages}}</label>
            <button type="button" title="Next page" class="btn btn-sm default next" [disabled]="currentPageView>=paraSystemInfo?.totalPages"
              (click)="choosePageNumber(currentPageView)"><i class="fa fa-angle-right"></i></button>
            <button type="button" title="Go to last page" class="btn btn-sm default next" [disabled]="currentPageView>=paraSystemInfo?.totalPages"
              (click)="choosePageNumber(paraSystemInfo?.totalPages - 1)"><i class="fa fa-angle-double-right"></i></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>