<div class="row">
  <div class="col-md-12">
    <!-- BEGIN TABLE PORTLET-->
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          Administration > Para System > Detail
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal align-middle">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="name">Name</label>
                    <div class="col-md-8">
                      <input id="name" type="text" [value]="paraSystem?.name" class="form-control" disabled/>
                    </div>
                  </div>
                  <!-- Para System Name end. -->  
                </div>
                <div class="col-md-6">
                  
                  <div class="form-group">
                    <label class="control-label col-md-4" for="value">Value</label>
                    <div class="col-md-8">
                      <input id="code" type="text" [value]="paraSystem?.value" class="form-control" disabled/>
                    </div>
                  </div>
                  <!-- Value end. -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label col-md-4" for="status">Status</label>
                    <div class="col-md-8">
                      <input id="status" type="text" [value]="paraSystem?.status==1?'Active':'Deactivate'" class="form-control" disabled/>
                    </div>
                  </div>
                  <!-- Status end. -->
                </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn default" (click)="goBack()"><i class="fa fa-undo" aria-hidden="true"></i>Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- END TABLE PORTLET-->
  </div>
</div>