<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Conditions'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'Policy.Title'|translate}}</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:2px;"></div>
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-6">
      <button *ngIf="isAuthoriziedNavigation()" class="btn green" id="form-add-btn" [routerLink]="['/policy', 'create']"><i
          class="fa fa-plus"></i>{{ 'Button.Create' | translate }}</button>
      <button class="btn red" id="form-remove-btn" *ngIf="getNumberDeleteItems()>0&&isAuthoriziedNavigation()" (click)="deleteCheckedItems()"><i
          class="fa fa-trash-o"></i>{{ 'Button.Delete' | translate }}</button>
    </div>
  </div>
  <br />
  <div style="padding:2px;"></div>
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)"
        method="POST">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="">{{'Policy.Input.DisplayName.Title'|translate}}</label>
              <div class="col-md-8">
                <input id="displayName" type="text" class="form-control" placeholder="{{'Policy.Input.DisplayName.Placeholder'|translate}}"
                  formControlName="displayName">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="isDeployed">{{'Policy.Input.Status.Title'|translate}}</label>
              <div class="col-md-8">
                <select id="isDeployed" class="form-control" formControlName="isDeployed">
                  <option value="0">{{ 'Policy.Input.Status.Placeholder' | translate }}</option>
                  <option *ngFor="let status of statuses" [value]="status.id">
                    {{status.value}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="name">{{'Policy.Input.Name.Title'|translate}}</label>
              <div class="col-md-8">
                <input id="name" type="text" class="form-control" placeholder="{{'Policy.Input.Name.Placeholder'|translate}}"
                  formControlName="name">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="policyType">{{'Policy.Input.PolicyType.Title'|translate}}</label>
              <div class="col-md-8">
                <select id="policyType" class="form-control" formControlName="policyType">
                  <option value="0">{{ 'Policy.Input.PolicyType.Placeholder' | translate }}</option>
                  <option *ngFor="let policyType of policyTypes" [value]="policyType.id">
                    {{policyType.value}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="quotaType">{{'Policy.Input.QuotaType.Title'|translate}}</label>
              <div class="col-md-8">
                <select id="quotaType" class="form-control" formControlName="quotaType">
                  <option value="0">{{ 'Policy.Input.QuotaType.Placeholder' | translate }}</option>
                  <option *ngFor="let quotaType of quotaTypes" [value]="quotaType.id">
                    {{quotaType.value}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <button type="submit" class="btn green"><i class="fa fa-search"></i>{{ 'Button.Search' | translate
              }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div style="overflow-x:auto;">
  <table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="policies" #mf="mfDataTable">
    <thead>
      <tr>
        <th (change)="countNumberDeleteItems()">
          <div class="checker">
            <span [class.checked]="checkAllItemFlag">
              <input id="checkAll" type="checkbox" [(ngModel)]="checkAllItemFlag" (click)="checkAllItem()" />
            </span>
          </div>
        </th>
        <th>
          <mfDefaultSorter by="displayName">{{'Policy.DisplayName'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="name">{{'Policy.Name'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="isDeployed">{{'Policy.Status'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="policyType">{{'Policy.PolicyType'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="quotaType">{{'Policy.QuotaType'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="quota">{{'Policy.Quota'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="unitTime">{{'Policy.UnitTime'|translate}}</mfDefaultSorter>
        </th>
        <th><a>{{ 'Label.Action' | translate }}</a></th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index" [ngClass]="item.checked===true?'info':''">
        <td class="table-checkbox" (change)="countNumberDeleteItems()">
          <div class="checker">
            <span [class.checked]="item.checked">
              <input id="checkOne" type="checkbox" [(ngModel)]="item.checked" />
            </span>
          </div>
        </td>
        <td><a [routerLink]="['/policy', item.amPolicyId, 'detail']">{{item.displayName}}</a></td>
        <td>{{item.name}}</td>
        <td>{{getStatusById(item.isDeployed)}}</td>
        <td>{{getPolicyTypeById(item.policyType)}}</td>
        <td>{{getQuotaTypeById(item.quotaType)}}</td>
        <td>{{item.quota}}</td>
        <td>{{item.unitTime}}</td>
        <td text-align="center" style=" width:150%;">
          <a class="btn btn-icon-only blue" id="business-btn" title="{{ 'Button.Detail' | translate }}" [routerLink]="['/policy', item.amPolicyId, 'detail']"><i
              class="fa fa-info" aria-hidden="true"></i></a>
          <a *ngIf="isAuthoriziedNavigation()" class="btn btn-icon-only green" title="{{ 'Button.Update' | translate }}"
            id="business-btn" [routerLink]="['/policy', item.amPolicyId, 'update']"><i class="fa fa-pencil-square-o"
              aria-hidden="true"></i></a>
          <a *ngIf="isAuthoriziedNavigation()" class="btn btn-icon-only red" title="{{ 'Button.Delete' | translate }}"
            id="business-btn" (click)="delete(item)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-4">
    {{fromNumber}} - {{toNumber}} {{ 'Label.InTotal' | translate }} {{policyInfo?.totalElements}} {{
    'Label.Items' | translate
    }}
  </div>
  <div class="col-md-4 pull-right">
    {{ 'Label.Page' | translate }}
    <button type="button" title="{{ 'Button.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPageView)<=1"
      (click)="choosePageNumber(0)"><i class="fa fa-angle-double-left"></i></button>
    <button type="button" title="{{ 'Button.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPageView)<=1"
      (click)="choosePageNumber(policyInfo?.number - 1)"><i class="fa fa-angle-left"></i></button>
    <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
      #page (keyup.enter)="choosePageNumber(page.value - 1)"> /
    <label style="padding-right: 5px;">{{policyInfo?.totalPages}}</label>
    <button type="button" title="{{ 'Button.Next' | translate }}" class="btn btn-sm default next" [disabled]="currentPageView>=policyInfo?.totalPages"
      (click)="choosePageNumber(currentPageView)"><i class="fa fa-angle-right"></i></button>
    <button type="button" title="{{ 'Button.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="currentPageView>=policyInfo?.totalPages"
      (click)="choosePageNumber(policyInfo?.totalPages - 1)"><i class="fa fa-angle-double-right"></i></button>
  </div>
</div>