<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal align-middle">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-md-4 text-right" for="amPolicy">{{'Application.Overview.Name'|translate}}</label>
                        <div class="col-md-8">{{application?.name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 text-right" for="amPolicy">{{'Application.Overview.Policy'|translate}}</label>
                        <div class="col-md-8">{{application?.amPolicy.name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 text-right" for="quotaType">{{'Application.Overview.Description'|translate}}</label>
                        <div class="col-md-8">{{application?.description}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 text-right" for="amPolicy">{{'Application.Overview.Status'|translate}}</label>
                        <div class="col-md-8">{{getStatusById(application?.applicationStatus)}}</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>