<!-- BEGIN PAGE HEADER-->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <a href="/home">{{'Header.Home'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <a href="#">{{'SIDEBAR.Statistics'|translate}}</a>
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{'Statistics.ServiceMethodUsage'|translate}}</span>
    </li>
  </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<div style="padding:10px;"></div>
<!-- BEGIN TABLE TOOLBAR-->
<div class="table-toolbar">
  <div class="row">
    <div class="col-md-12">
      <form class="form-horizontal align-middle" [formGroup]="filterForm" (ngSubmit)="search(filterForm.value, 0)"
        method="POST">
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-3 control-label col-md-4">{{'Statistics.From'|translate}}</label>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6" style="padding-right: 2px;">
                      <input class="form-control" type="date" formControlName="startDate" required>
                      <small class="error" *ngIf="filterForm.get('startDate').invalid && (filterForm.get('startDate').touched)">
                          <span *ngIf="filterForm.get('startDate').errors.required">
                            {{'err.Title'|translate}}
                          </span>
                      </small>
                    </div>
                    <div class="col-md-6" style="padding-left: 2px;">
                      <input class="form-control col-md-5" type="time" step="1" formControlName="startTime" required><br>
                      <small class="error" *ngIf="filterForm.get('startTime').invalid && (filterForm.get('startTime').touched)">
                          <span *ngIf="filterForm.get('startTime').errors.required">
                            {{'err.Title'|translate}}
                          </span>
                        </small>
                    </div>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-3 control-label col-md-4">{{'Statistics.To'|translate}}</label>
                <div class="col-md-8" style="align-content: left;">
                    <div class="row">
                      <div class="col-md-6" style="padding-right: 2px;">
                        <input class="col-md-7" class="form-control" value="2018-10-16" type="date" formControlName="endDate" required>
                        <small class="error" *ngIf="filterForm.get('endDate').invalid && (filterForm.get('endDate').touched)">
                            <span *ngIf="filterForm.get('endDate').errors.required">
                              {{'err.Title'|translate}}
                            </span>
                          </small>
                      </div>
                      <div class="col-md-6" style="padding-left: 2px;">
                          <input class="col-md-5" class="form-control" type="time" step="1" value="22:53:05" formControlName="endTime" required>
                          <small class="error" *ngIf="filterForm.get('endTime').invalid && (filterForm.get('endTime').touched)">
                              <span *ngIf="filterForm.get('endTime').errors.required">
                                {{'err.Title'|translate}}
                              </span>
                            </small>
                      </div>
                    </div>

                </div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="apiId">{{'Statistics.Api'|translate}}</label>
              <div class="col-md-8">
                <ng-select [allowClear]="true" [disabled]="disabled" [items]="apiSelections"
                  (selected)="filterForm.get('apiId').setValue($event?.id);filterForm.get('method').setValue(null);
                  removeApiSelection()" (removed)="filterForm.get('apiId').setValue(null);"
                  placeholder="Chọn dịch vụ" ngDefaultControl>
                </ng-select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-4" for="result">{{'Statistics.Method'|translate}}</label>
              <div class="col-md-8">
              
                <ng-select [allowClear]="true" [disabled]="disabled" [items]="listResult"
                  (selected)="filterForm.get('method').setValue($event?.id);" (removed)="filterForm.get('method').setValue(null);"
                  placeholder="Chọn phương thức" ngDefaultControl>
                </ng-select>
                <small class="error" *ngIf="filterForm.get('method').invalid && (filterForm.get('method').touched)">
                  <span *ngIf="filterForm.get('method').value == null">
                      {{'err.Title'|translate}}
                  </span>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
              <!-- [disabled]="!isValidForm()" -->
            <button type="submit" class="btn green" ><i class="fa fa-search"></i>{{ 'Common.Search' | translate }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="isData">
<div class="portlet-body">
  <!-- END TABLE TOOLBAR-->
  <!-- BEGIN TABLE CONTENT-->
  <table class="table table-striped table-bordered table-hover" id="list-data-table" [mfData]="serviceMethodUsages" #mf="mfDataTable">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="stt">{{'Statistics.NO'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="apiName">{{'Statistics.Api'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="apiVersion">{{'Statistics.Version'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="requestCount">{{'Statistics.Method'|translate}}</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="requestCount">{{'Statistics.Calls'|translate}}</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd gradeX" *ngFor="let item of mf.data; let i = index" [ngClass]="item.checked===true?'info':''">
        <td style="text-align:center">{{i + 1}}</td>
        <td style="text-align:left">{{item.apiName}}</td>
        <td style="text-align:center">{{item.apiVersion}}</td>
        <td style="text-align:center">{{item.httpMethod}}</td>
        <td style="text-align:center"><a (click)="showDetail(item.apiVersionId, item.httpMethod)">{{item.requestCount}}</a></td>
      </tr>
    </tbody>
  </table>
  <!-- END TABLE CONTENT-->
  <!-- BEGIN PAGING-->
  <div class="row">
    <div class="col-md-4">

      {{fromNumber}} - {{toNumber}} {{ 'Common.InTotal' | translate }} {{totalElements}} {{ 'Common.Items' |
      translate}}
    </div>
    <div class="col-md-4 pull-right">
      <button type="button" title="{{ 'Action.FirstPage' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
        (click)="choosePageNumber(0)">
        <i class="fa fa-angle-double-left"></i>
      </button>
      <button type="button" title="{{ 'Action.Previous' | translate }}" class="btn btn-sm default prev" [disabled]="(currentPage+1)<=1"
        (click)="choosePageNumber(currentPage-1)">
        <i class="fa fa-angle-left"></i>
      </button>
      <input type="number" min="1" max="{{totalPages}}" style="border: none; width: 30px; text-align: center;" [value]="currentPageView"
        #page (keyup.enter)="choosePageNumber(page)"> /
      <label style="padding-right: 5px;">{{totalPages}}</label>
      <button type="button" title="{{ 'Action.Next' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
        (click)="choosePageNumber(currentPage+1)">
        <i class="fa fa-angle-right"></i>
      </button>
      <button type="button" title="{{ 'Action.LastPage' | translate }}" class="btn btn-sm default next" [disabled]="(currentPage+1)>=totalPages"
        (click)="choosePageNumber(totalPages-1)">
        <i class="fa fa-angle-double-right"></i>
      </button>
    </div>
  </div>
</div>
</div>
<!-- END PAGING-->
<div *ngIf="!isData">
  {{ 'Statistics.NoData' | translate }}
</div>